<a href="<%= user_post_path(post.author.id, post.id) %>" id="post_link" class="box">
  <h4>Post #<%= index %></h4>
  <p><%= post.text.first(150) %></p>
  <p id="comments-likes">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
</a>