<% if @posts.empty? %>
  <%= render partial: 'shared/user', locals: { user: @user } %>
  <p><%= "There is no post to display" %></p>
<% else %>
  <%= render partial: 'shared/user', locals: { user: @user } %>
  <% @posts.each do |post| %>
    <% @user.posts.each_with_index do |post, index| %>
    <%= render partial: 'shared/post', locals: { post: post, index: index + 1 } %>
  <% end %>
<% @posts.each do |post| %>
  <%= render partial: 'shared/comment', collection: post.comments, as: :comment %>
<% end %>
  <% end %>
<% end %>
