<% if @posts.empty? %>
  <%= render partial: 'shared/user', locals: { user: @user } %>
  <p><%= "There is no post to display" %></p>
<% else %>
  <%= render partial: 'shared/user', locals: { user: @user } %>
  <% @posts.each do |post| %>
    <h4><%= post.title %></h4>
    <p><%= post.text %></p>
    <%= render partial: 'shared/comment', locals: { author: @author, comment: @comment } %>
  <% end %>
<% end %>
